body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    user-select: none;
}

#content {
   flex: 1 0 auto;
}

#main {
    float: left;
    height: auto;
    width: 800px;
    margin-top: 8vh;
    margin-left: 10vw;
}

#wallpaper{
    position: relative;
    float: left;
    min-height: 450px;
    min-width: 800px;
    height: auto;
    width: auto;
    border: solid 2px white;
    border-radius: 3px;
    margin-bottom: 40px;
}

#question, #input_image, #to_get_the_code{
   vertical-align: middle;
   margin-right: 50px;
   display: inline-block;
}

#question{
   font-family: "Noto Sans SC", sans-serif;
   height: 40px;
   width: 40px;
   font-size: 1.6rem;
   text-align: center;
   color: white;
   border-radius: 25px;
   border: solid 4px white;
}

 #question:hover {
   color: black;
   border: solid 4px white;
   background-color: white;
   cursor: default;
   font-weight: bolder;
   transform: scale(1.1);
   transition: 0.2s;
 }

#input_image, button{
   font-family: "Noto Sans SC", sans-serif;
   font-weight: bold;
   font-size: medium;
   min-height: 40px;
   height: auto;
   min-width: 10vw;
   width: auto;
   border-radius: 10px;
}

#input_image:hover {
   transform: scale(1.05);
   transition: 0.1s;
}

#input_image:active{
   transform: scale(1);
}

#to_get_the_code {
   background-color: white;
   font-family: "Noto Sans SC", sans-serif;
   font-weight: bold;
   font-size: medium;
   min-height: 40px;
   height: auto;
   min-width: 13vw;
   width: auto;
   border-radius: 10px;
   text-align: center;
   vertical-align: middle;
   p {
      margin: 10px;
   }
}

#to_get_the_code:hover {
   transform: scale(1.05);
   transition: 0.1s;
   cursor: default;
   background-color: rgb(29, 151, 151);
   p {
      color: white;
   }
}

#to_get_the_code:active{
   transform: scale(1);
}

#readUrl {
    content: '';
}

#uploadedImage {
    position: absolute;
    height: 450px;
    width: 800px;
    display: none;
}

:root {
    --window_body: rgb(0,102,204, 0.3);
    --window_outline: rgb(0, 120, 215);
 }
 
 #settings_color {
   margin-top: 8vh;
   margin-left: 7%;
   float: left;
   height: auto;
   width: auto;
 }

 #color_picker_container {
    display: flex;
    border-radius: 1rem;
    bottom: 100%;
    background-color: white;
    height: 120px;
    width: 215px;
    border: solid 2px #ccc;
    padding: 1rem;
 }
 
 canvas:hover {
    cursor: crosshair;
 }
 
 #color_block {
    border-radius: 1rem;
 }
 
 #hue_bar {
    border-radius: 0.5rem;
    margin-left: 1.5rem;
 }
 
 .select_container, select {
   width: 250px;
   min-height: 35px;
   height: auto;
   border-radius: 0.7rem;
   margin-top: 5px;
   font-family: "Noto Sans SC", sans-serif;
   font-weight: bold;
   font-size: medium;
   text-align: center;
 }
 
 #window_container {
    position: absolute;
    #basebody {
       fill: var(--window_body);
       stroke: var(--window_outline);
    }
 }
 
 svg, #window_container {
    height: 120px;
    width: 200px;
 }

#presets {
   column-count: 2;
   position: relative;
   float: left;
   margin-top: 7vh;
   margin-left: 7%;
   max-width: 260px;
   width: auto;
   height: 300px;
}

.preset {
   display: block;
   height: 60px;
   width: 100px;
   margin-right: 26px;
   margin-bottom: 26px;
   border-radius: 10px;
}

.preset:hover {
   transform: scale(1.05);
   transition: 0.1s;
}

.preset:active {
   transform: scale(1);
}

#futuristic_orange {
   background-color: rgba(240, 162, 36);
   border: solid 2px rgb(220, 148, 35);
}

#calming_green{
   background-color: rgba(72, 122, 37);
   border: solid 2px rgb(40, 92, 12);
}

#magic_purple {
   background-color: rgba(110, 81, 96);
   border: solid 2px rgb(93, 57, 84);
}

#sky_blue {
   background-color: rgba(34, 210, 245);
   border: solid 2px rgb(30, 183, 214);
}

#space_black {
   background-color: rgba(0, 20, 33);
   border: solid 2px rgb(0, 0, 0);
}

#playful_yellow {
   background-color: rgba(240, 236, 12);
   border: solid 2px rgb(196, 193, 14);
}

#footer {
   height: 30px;
   margin-left: 80%;
   display:inline-block;
   white-space: nowrap;
   a {
      font-family: "Noto Sans SC", sans-serif;
      text-decoration: none;
      margin-right: 40px;
      margin-bottom: 5px;
      color: white;
   }
}

#footer a:hover{
   font-weight: bold;
   text-decoration: underline;
}

@media screen and (max-width:1280px){
   #content {
      display: inline;
   }

   #settings_color {
      margin-left: 10vw;
   }

   #footer {
      margin-left: 10%;
   }

   #content {
      width: 800px;
   }
}